<launch>
    <!-- Arguments参数 -->
    <arg name="car_mode"  default="" />  
    <param name="PI_PARAAM" type="double" value="3.1415926"/>
	<arg name="model" default="$(find xacro)/xacro --inorder '$(find yd_description)/xacro/ydrobot_base.xacro'"/> 
    <!-- 用于robot_state_publisher节点 -->
    <!-- static_transform_publisher  x y z  y p r  parent_tf child_tf check_time_ms -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />   
    <!--坐标变换，需要实测 -->
    <group if="$(eval car_mode == 'mini_diff')">
        <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.3 0.00 0.15 0 0 0  base_footprint laser 100" />
        <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_vcamera" args="0.185 0.00 0.25 0 0 0  base_footprint vcamera_link 100" /> -->
        <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0.05 0.13 0.08 0 0 0 base_footprint gyro_link 100" />  
    </group>

    <group if="$(eval car_mode == 'mini_diff')">
        <param name = "robot_description"  command="$(arg model)"/>
    </group>
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
   </launch>
  
